<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>sys-block</title>
    <link href="/static/css/chunk-0873cf24.0c570cca.css" rel="prefetch">
    <link href="/static/css/chunk-405900ae.2d396269.css" rel="prefetch">
    <link href="/static/css/chunk-6afce976.3f6259a2.css" rel="prefetch">
    <link href="/static/css/chunk-f2c12cd8.cd4e8f6e.css" rel="prefetch">
    <link href="/static/js/chunk-076e7a6c.ad10047a.js" rel="prefetch">
    <link href="/static/js/chunk-0873cf24.064c89fe.js" rel="prefetch">
    <link href="/static/js/chunk-405900ae.f13019fd.js" rel="prefetch">
    <link href="/static/js/chunk-6afce976.1c8dc17f.js" rel="prefetch">
    <link href="/static/js/chunk-f2c12cd8.4592d992.js" rel="prefetch">
    <link href="/static/css/app.e36a3118.css" rel="preload" as="style">
    <link href="/static/css/chunk-vendors.767f701c.css" rel="preload" as="style">
    <link href="/static/js/app.e5b169ff.js" rel="preload" as="script">
    <link href="/static/js/chunk-vendors.34b6a628.js" rel="preload" as="script">
    <link href="/static/css/chunk-vendors.767f701c.css" rel="stylesheet">
    <link href="/static/css/app.e36a3118.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but sys-block doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="/static/js/chunk-vendors.34b6a628.js"></script>
<script src="/static/js/app.e5b169ff.js"></script>
</body>
</html>