<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>ds-web</title>
    <link href="/static/css/chunk-313b1b5a.6f264053.css" rel="prefetch">
    <link href="/static/css/chunk-32eb17ae.f91a8bb9.css" rel="prefetch">
    <link href="/static/css/chunk-3399f769.b6030136.css" rel="prefetch">
    <link href="/static/css/chunk-51509121.b2a77103.css" rel="prefetch">
    <link href="/static/css/chunk-77a32e90.0852edf9.css" rel="prefetch">
    <link href="/static/js/chunk-076e7a6c.ad10047a.js" rel="prefetch">
    <link href="/static/js/chunk-313b1b5a.c0b0a435.js" rel="prefetch">
    <link href="/static/js/chunk-32eb17ae.835e0c86.js" rel="prefetch">
    <link href="/static/js/chunk-3399f769.67abc958.js" rel="prefetch">
    <link href="/static/js/chunk-51509121.01bac723.js" rel="prefetch">
    <link href="/static/js/chunk-6b9597dc.9db76cc0.js" rel="prefetch">
    <link href="/static/js/chunk-77a32e90.96f33468.js" rel="prefetch">
    <link href="/static/css/app.e36a3118.css" rel="preload" as="style">
    <link href="/static/css/chunk-vendors.767f701c.css" rel="preload" as="style">
    <link href="/static/js/app.0aff481a.js" rel="preload" as="script">
    <link href="/static/js/chunk-vendors.d65f8402.js" rel="preload" as="script">
    <link href="/static/css/chunk-vendors.767f701c.css" rel="stylesheet">
    <link href="/static/css/app.e36a3118.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but ds-web doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="/static/js/chunk-vendors.d65f8402.js"></script>
<script src="/static/js/app.0aff481a.js"></script>
</body>
</html>