<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>sys-block</title>
    <link href="/static/css/chunk-1c7c0bf1.b9d931b6.css" rel="prefetch">
    <link href="/static/css/chunk-6afce976.3f6259a2.css" rel="prefetch">
    <link href="/static/css/chunk-7e468698.c4909864.css" rel="prefetch">
    <link href="/static/css/chunk-f2c12cd8.cd4e8f6e.css" rel="prefetch">
    <link href="/static/js/chunk-076e7a6c.ad10047a.js" rel="prefetch">
    <link href="/static/js/chunk-1c7c0bf1.40f6fc4f.js" rel="prefetch">
    <link href="/static/js/chunk-6afce976.1c8dc17f.js" rel="prefetch">
    <link href="/static/js/chunk-7e468698.36e39701.js" rel="prefetch">
    <link href="/static/js/chunk-f2c12cd8.4592d992.js" rel="prefetch">
    <link href="/static/css/app.e36a3118.css" rel="preload" as="style">
    <link href="/static/css/chunk-vendors.767f701c.css" rel="preload" as="style">
    <link href="/static/js/app.3f3408b9.js" rel="preload" as="script">
    <link href="/static/js/chunk-vendors.f6a52782.js" rel="preload" as="script">
    <link href="/static/css/chunk-vendors.767f701c.css" rel="stylesheet">
    <link href="/static/css/app.e36a3118.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but sys-block doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="/static/js/chunk-vendors.f6a52782.js"></script>
<script src="/static/js/app.3f3408b9.js"></script>
</body>
</html>